*{
	font-family:ubuntu;
	margin:0;
	padding:0;
}
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; padding-left:10px; }
#map-canvas { height: 570px; width:75%;float:left; border: #123 solid 1px;}
#header{
	padding:10px 5px;
	color:#ff0000;
}
#route{
  
  }
 #clear-console
 {
 	cursor:pointer;
 	color:#ff0000;
 	position: absolute;
	top: 5px;
	right: 11px;
 }

.labels {
	 color: red;
	 background-color: white;
	 font-family: "Lucida Grande", "Arial", sans-serif;
	 font-size: 10px;
	 font-weight: bold;
	 text-align: center;
	 width: 60px;     
	 border: 2px solid black;
	 white-space: nowrap;
}
#right
{
	float:left;
	padding-left:5%;
	height:100%;
	width:95%;
}
.btn-opt-require
{
	height: 33px;
	width:33px;
	padding:0;
	margin:0;
	border:none;
	cursor:pointer;
}
#btn-add{
	background: url("../img/add-icon-32-32.png") center no-repeat
}
#btn-remove
{
	background: url("../img/delete-icon-32-32.png") center no-repeat
}
#btn-save
{
	background: url("../img/3floppy-unmount-icon.png") center no-repeat
}
#btn-pickup
{
	background: url("../img/Map-Marker-Ball-Azure-icon.png") center no-repeat
}
#btn-deliver
{
	background: url("../img/Map-Marker-Ball-Pink-icon.png") center no-repeat
}
#btn-pickup:focus
{
		background: url("../img/Map-Marker-Ball-Right-Azure-icon.png") center no-repeat
}
#btn-deliver:focus
{
	background: url("../img/Map-Marker-Ball-Right-Pink-icon.png") center no-repeat
}
#form-opt-require
{
		
}
#form-opt-require p
{
	display:inline-block;
	min-width:60px;
	margin:0px;
		
}
#form-opt-require input.ipt-text
{
	width:100px;
	margin:1px;
	
}
.clear
{
	clear: both;
}
.opacity-60
{
	opacity:0.6;
}
div#box-require{
	border:1px solid #DFDBD4;
	border-radius: 10px;
    margin-top: 5px;
    padding-bottom:10px;
}
.btn-require
{
	background: url("../img/edit-clipboard-icon.png") top no-repeat;
	width:50px;
	height:50px;
	border:none;
	color:#2D82B9;
	font-weight:bold;
	cursor:pointer;
}
.header-box
{
	padding:5px 5px;
	margin:0;
	margin-bottom:5px;
	border-bottom:1px solid #DFDBD4;
}
.row-opt
{
	padding:0px 5px;	
	margin-top:5px;	
}
.row-opt input#ipt-duration-deliver, .row-opt input#ipt-duration-pickup
{
	width:55px;
}
.row-opt p.minute-text
{
	color:#ff0000;
	font-style:italic;
}
.row-opt p
{
	font-size:14px;
}
#confirm
{
	border:1px solid #DFDBD4;	
	border-radius:0px 10px 0 10px;
	
}
#cfm-yes, #cfm-no
{
	float:right;
	
}
#message
{
	border-bottom:1px solid #DFDBD4;
	padding:5px;
	margin:0;
}
.icon-remove
{
	position:relative;
	left:-25px;
	top:17px;
}
div#div-list-request
{
/* 	border:1px solid #DFDBD4;
	border-radius:10px; */
	display:-webkit-box;
	/* min-height:50px; */
	margin-top:5px;
}
div#div-console
{
	border:1px solid #DFDBD4;
	border-radius:10px 10px 0 0;
	height:150px;
	margin-top:10px;
	position: fixed;
	bottom: 30px;
	width: 400px;
	background: #fff;
}
div.li-content h4
{
	padding:5px;
	margin:0;
	border-bottom:1px solid #4d4d4d;
	color:#fff;
	background: #030303;
	border-radius: 10px 10px 0 0;
}
ul#list-request
{
	list-style-type:none;
	padding:0;
	margin:0;

}
ul#list-request li
{
	float:left;
}
#bound-right
{
	padding:0;
	margin:0;
	width:24%;
	float:left;
	height:570px;
}
.line
{
	border-bottom:1px solid #DFDBD4;
	margin-top:5px;
}
#depot
{
	margin-top:10px;
	padding:5px;
	border-bottom:1px solid #DFDBD4;
	/* border-radius:10px; */
	/* height:30px; */
}
#depot img
{
	
}
#depot p
{
    float:left;
	/* color:#f00; */
	font-size:14px;
	margin-left:3px;
	/* font-style:italic; */
}
#depot div .depot-title
{
	width:110px;
}
.red
{
	color:#f00;
	font-size:14px;	
}
.italic
{
	font-style:italic;
}
#depot input
{
	width:40px;	
	margin:0;
}
div#box-button
{
	position: relative;
	float: right;
	height: 28px;
	background: #050505;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #fff;
}
div#box-button input
{
	padding:2px 3px;
}
#div-footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background:#050505;
	padding-left: 5px;
}
ul#footer
{
	height:30px;	
	position:relative;
	height: 100%;
}
ul#footer li
{
	display: block;
	float: left;
	border-right:1px solid #fff;
}
ul#footer li:hover
{
	
}
ul#footer li p.p-title
{
	color:#fff;
	padding:5px;
}
ul#footer li p.p-title:hover
{
	background:#345;
	cursor:pointer;
}
ul#footer li p#console, ul#footer li div#content-session{
  	color:#ff0000;
  	overflow-y:scroll;
  	height: 109px;
	margin-top: 0;
	padding:5px;
	
 }
 ul#footer li div.li-content
 {
 	border:1px solid #DFDBD4;
	border-radius:10px 10px 0 0;
	height:150px;
	margin-top:10px;
	position: fixed;
	bottom: 30px;
	width: 400px;
	background: #fff;
 }
ul#footer li div.li-content a.a-session
{
	margin-right: 5px;
}
#height-35
{
	height: 35px;
}
#popup
{
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
